<!-- carousel plugin -->
<div class="row">


<div id="carousel-example-generic" class="carousel slide index_carousel" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/sign_up.jpeg" alt="...">
      <div class="carousel-caption slogan">
        <h1>千里之行，始于足下</h1>
        <p class="lead">路漫漫，其修远兮</p>
        <samp>This text is meant to be treated as sample output from a computer program.</samp>
      </div>
    </div>

    <div class="item">
      <img src="/carrousel_new.jpeg" alt="...">
      <div class="carousel-caption slogan">
        <h1>千里之行，始于足下</h1>
        <p class="lead">路漫漫，其修远兮</p>
      </div>
    </div>

    <div class="item">
      <img src="/carrousel3.jpeg" alt="...">
      <div class="carousel-caption slogan">
        <h1>千里之行，始于足下</h1>
        <p class="lead">路漫漫，其修远兮</p>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>



<div class="row part-2">

  <div class="col-sm-12 part2-text">
    为什么要甄选我们的产品?
  </div>

  <div class="col-xs-4 Whyselectus">
  <img src="/image_one.jpeg" alt="">
  <br>
  <div class="font-define">
    所有的货源地都经过精挑细选,最后良中选优.
  </div>
  </div>

  <div class="col-xs-4 Whyselectus">
  <img src="/image_two.jpeg" alt="">
  <br>
  <div class="font-define">
    基于原产地的绿色健康,又佐以对产品的变态追求,最终留下来的都是精品.
  </div>
  </div>

  <div class="col-xs-4 Whyselectus">
  <img src="/banner_image.jpeg" alt="">
  <br>
  <div class="font-define">
    渠道安全渠道安全渠道安全渠道安全渠
  </div>
  </div>


</div>

<div class="row part-major">

  <div class="col-xs-12 text_liulan">
    见性明理 >> 茶之道
  </div>

  <div class="col-xs-4 width_200">
    <blockquote>
      <p>茶对人的精神调节是因人而异的,一年四季每个季节都有不同的茶来辅助人们的日常生活.即便你不懂茶,你也可以通过简单的对茶的味道,气味,以及颜色而选出好茶,正是基于这样的标准,我们对产品的把控异常的苛刻,不论是货源还是成色都是时间和经验的产物,相信你会选择出好的茶叶来.</p>
      <p>如果你是一个喜欢探索的人,那么你对生活的感知也许会丰富一些,所谓明察秋毫.即便你对自己的事业又远大的目标,但是清晰的思路也非常的重要,喝茶或多或少的能调节你的神经系统.</p>
      <footer>产品链负责人 - 无崖子</footer>
    </blockquote>

    <span class="cancel_decoration"><%= link_to("烹茶煮茶", products_path(:order => "Tea"), class: "btn btn-danger btn-block" ) %></span>


  </div>

  <div class="col-xs-8 big_images1">
<!-- <img src="/tea.jpeg" alt=""> -->
  </div>



</div>


<div class="row part-major">

  <div class="col-xs-12 text_liulan">
    酣畅淋漓（酒）
  </div>

  <div class="col-xs-4 width_200 col-xs-push-8">
    <blockquote>
      <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
      <p> the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
      <footer>From WWF's website</footer>
    </blockquote>

    <span class="cancel_decoration"><%= link_to("甘醇美酒", products_path(:order => "Wine"), class: "btn btn-danger btn-block" ) %></span>


  </div>

  <div class="col-xs-8 col-xs-pull-4 big_images2">
<!-- <img src="/tea.jpeg" alt=""> -->
  </div>



</div>


<div class="row part-major">

  <div class="col-xs-12 text_liulan">
    水果世界（水果）
  </div>

  <div class="col-xs-4 width_200">
    <blockquote>
      <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
      <p> the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
      <footer>From WWF's website</footer>
    </blockquote>

    <span class="cancel_decoration"><%= link_to("时令水果", products_path(:order => "Fruit"), class: "btn btn-danger btn-block" ) %></span>
  </div>

  <div class="col-xs-8 big_images3">
<!-- <img src="/tea.jpeg" alt=""> -->
  </div>



</div>


<div class="row part-major">

  <div class="col-xs-12 text_liulan">
    天外飞仙（草药）
  </div>

  <div class="col-xs-4  col-xs-push-8">
    <blockquote>
      <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
      <p> the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
      <footer>From WWF's website</footer>
    </blockquote>

    <span class="cancel_decoration"><%= link_to("名贵药材", products_path(:order => "Product"), class: "btn btn-danger btn-block" ) %></span>
  </div>

  <div class="col-xs-8 big_images4 col-xs-pull-4">
<!-- <img src="/tea.jpeg" alt=""> -->
  </div>



</div>

<div class="row">

  <div class="col-xs-12 part-person">
    <div class="design-style"><%= link_to("点击一览美好瞬间", products_path) %></div>
  </div>

</div>
