
<div class="container">


<div class="row">

  <div class="col-sm-12 add_text_decoration">
      <div class="cart_anyone">
        <span>购物车</span>
      </div>
      <br><br>
  </div>


</div>

<div class="clear_cart">
  <%= link_to("清空购物车", clean_carts_path,
  method: :delete, class: "pull-right cart_clear", data: { confirm: "你确定要清空整个购物车吗？"}) %>
  <i class="fa fa-times" aria-hidden="true"></i>
</div>

<div class="row">
  <div class="col-md-12">


    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2"><i class="fa fa-gavel" aria-hidden="true"></i></th>
          <th><i class="fa fa-rmb" aria-hidden="true"></i></th>
          <th><i class="fa fa-cubes" aria-hidden="true"></i></th>
          <th><i class="fa fa-wrench" aria-hidden="true"></i></th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= link_to product_path(cart_item.product) do %>
                <% if cart_item.product.image.present? %>
                  <%= image_tag(cart_item.product.image.mini.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </td>
            <td>
              <br><br>
              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
            </td>
            <td>
              <br><br>
              <i class="fa fa-rmb" aria-hidden="true"></i><%= cart_item.product.price %>
            </td>
            <td>
              <br><br>
              <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f| %>
                <%= f.select :quantity, 1..cart_item.product.quantity %>
                <%= f.submit "更新", class: "btn btn-warning btn-xs", data: { disable_with: "Submiting..." } %>
              <% end %>
            </td>
            <td>
              <br><br>
              <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>

    <br>

    <div class="total clearfix">
      <span class="pull-right">
        <span>
          <!-- <% sum = 0 %>
          <% current_cart.cart_items.each do |cart_item| %>
            <% if cart_item.product.price.present? %>
              <% sum = sum + cart_item.quantity * cart_item.product.price %>
            <% end %>
          <% end %>
          总计 <%= sum %> RMB -->
          总计 <%= render_cart_total_price(current_cart) %> RMB
        </span>
      </span>
    </div>

    <div class="checkout clearfix">
      <%= link_to("确认结账", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
    </div>

  </div>
</div>


</div>
