

<div class="registrations_newnew">


<div class="container">

<div class="row">

<div class="col-xs-4 col-xs-offset-4">


  <div class="pull-center">
      <img src="/login.png" alt="">&nbsp;&nbsp;登录
  </div>

<div class=" registrations_sign_up">

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, input_html: { class: 'input_email' }, label: '登录邮箱:', required: false, autofocus: true %>
    <%= f.input :password, input_html: { class: 'input_email' }, label: '登录密码:', required: false %>
    <%= f.input :remember_me, label: '记住我', input_html: { class: 'input_remember' }, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "登录吧", button_html: { class: 'form-actionss' }, class: "btn btn-danger" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>


</div>
</div>

</div>

<br><br><br><br><br><br>

</div>
