<div class="container">

<!-- 商品内容页面包屑导航 -->
<!-- <div class="row">

  <div class="col-xs-1">
      <%= link_to("烹茶煮茶", products_path(:order => "Tea") ) %>
  </div>

  <div class="col-xs-1">
      <%= link_to("烹茶煮茶", products_path(:order => "Tea") ) %>
  </div>

  <div class="col-xs-1">
      <%= link_to("烹茶煮茶", products_path(:order => "Tea") ) %>
  </div>

  <div class="col-xs-1">
      <%= link_to("烹茶煮茶", products_path(:order => "Tea") ) %>
  </div>

</div> -->
<br>


<div class="row">
  <div class="col-md-8">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2 class="product_titleh2"> <%= @product.title %> </h2>
    <div style="height: 100px;" class="product_description">
      <p>
        <%= @product.description %>
      </p>

    </div>
    <br>
    <div class="product_quantity"> 储备数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>

    <div class="favorite">


        <%= link_to favorite_product_path(@product), :method => :post  do %>
          <i class="fa fa-heart" aria-hidden="true"></i>收藏此商品
        <% end %>



    </div>





    <div class="cart_button">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-danger btn-block") %>
      <% else %>
        已销售一空,无法购买
      <% end %>
    </div>
  </div>
</div>

<div class="row">

<div class="col-xs-10 col-xs-offset-1">


  <h4>用户评论区:</h4>



    <table class="table">
      <thead>
       <tr>
          <th>评论内容</th>
          <th>发表者</th>
          <th>发表时间</th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%= message.content %></td>
            <td><%= message.user.email %></td>
            <td><%= message.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


</div>
  <%= link_to("我来说两句~", new_product_message_path(@product), class: "btn btn-danger bt-lg")  %>
</div>

</div>
