<div class="container">

<!-- 商品内容页面包屑导航 -->
<!-- <div class="row">

  <div class="col-xs-1">
      <%= link_to("烹茶煮茶", products_path(:order => "Tea") ) %>
  </div>

  <div class="col-xs-1">
      <%= link_to("烹茶煮茶", products_path(:order => "Tea") ) %>
  </div>

  <div class="col-xs-1">
      <%= link_to("烹茶煮茶", products_path(:order => "Tea") ) %>
  </div>

  <div class="col-xs-1">
      <%= link_to("烹茶煮茶", products_path(:order => "Tea") ) %>
  </div>

</div> -->
<br>


<div class="row">
  <div class="col-md-8">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2 class="product_titleh2"> <%= @product.title %> </h2>
    <div style="height: 100px;" class="product_description">
      <p>
        <%= @product.description %>
      </p>

    </div>
    <br>
    <div class="product_quantity"> 储备数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>

    <div class="favorite">

      <% if !current_user.products.include?(@product) %>
        <%= link_to favorite_product_path(@product), :method => :post  do %>
          <i class="fa fa-heart" aria-hidden="true"></i>收藏此商品
        <% end %>
      <% else %>
        <%= link_to cancel_favorite_product_path(@product), :method => :delete  do %>
          <i class="fa fa-heart" aria-hidden="true"></i>取消收藏
        <% end %>
      <% end %>

    </div>





    <div class="cart_button">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-danger btn-block") %>
      <% else %>
        已销售一空,无法购买
      <% end %>
    </div>
  </div>
</div>

</div>
